<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <h3>New Listing</h3><br>
                <form method="post" action="/listings" class="needs-validation" novalidate
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Enter your Title:</label>
                        <input type="text" class="form-control" name="listing[title]" id="title"
                            placeholder="Enter Title" required>
                        <div class="valid-feedback">Title looks Good</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Enter your description:</label>
                        <textarea name="listing[description]" class="form-control" id="description"
                            placeholder="Enter description" required></textarea>
                        <div class="invalid-feedback">Enter valid description</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Listing Image</label>
                        <input type="file" class="form-control" name="listing[image]" id="image">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Enter your price:</label>
                            <input class="form-control" name="listing[price]" id="price" placeholder="Enter Price"
                                required>
                        </div>
                        <div class="mb-3 col-md-4">
                            <label for="country" class="form-label">Enter your Country:</label>
                            <input type="text" class="form-control" name="listing[country]" id="country"
                                placeholder="Enter Country" required>
                            <div class="invalid-feedback">Enter valid country</div>
                        </div>
                        <div class="dropdown mb-3 col-md-4">
                            <label for="cars" class="form-label">Choose a Category:</label>
                            <select class="form-control" name="listing[category]" id="category">
                                <option value="Trending">Trending</option>
                                <option value="Rooms">Rooms</option>
                                <option value="Iconic cities">Iconic cities</option>
                                <option value="Mountains">Mountains</option>
                                <option value="Top Buildings">Top Buildings</option>
                                <option value="Amazing Pools">Amazing Pools</option>
                                <option value="Camping">Camping</option>
                                <option value="Beach Resorts">Beach Resorts</option>
                                <option value="Arctic">Arctic</option>
                                <option value="Farms">Farms</option>
                                <option value="Top cities">Top cities</option>
                                <option value="Most visited">Most visited</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Enter your Location:</label>
                        <input type="text" class="form-control" name="listing[location]" id="location"
                            placeholder="Enter Location" required>
                        <div class="invalid-feedback">Enter valid Location</div>
                    </div>

                    <br><br>
                    <button class="btn btn-dark add-btn">Add</button><br><br>
                </form>
            </div>
        </div>
    </body>
